/.gocache
/.gomodcache
/.swift-module-cache

# SwiftPM build outputs
/RelativeProtocol/.build/
.build
.gomodcache
.gocache
.swift-module-cache

# Generated Leaf artifacts
RelativeProtocol/Binary/Leaf.xcframework/
RelativeProtocol/Binary/Leaf.xcframework.zip
